.merlin
*.nft
*~
_build
doc
etc
*#
#*
.#*

debian/borderline
debian/*.debhelper
debian/*ex
debian/*EX
debian/borderline.debhelper.log
debian/debhelper-build-stamp
debian/borderline.substvars
debian/files
borderline.install
